  /* --------- container width -------- */
  .main-container {
    gap: 60px;
    
    @include respond(md) {
        padding: 0 20px;
        gap: 50px;
    }
  }


  /* -------- background color -------- */
  :root {
    --body-background: #EBEBEB;
    --accent-color: #1B365D;
    --accent-color-darker: #202A44;
    --accent-color-text: #FFF;
    --body-text-color: #202A44;
  }
  
  :root {
    --card-background: #FFF;
    --card-background-selected: #EBEBEB;
    --card-text-color-main: #202A44;
    --card-text-color-secondary: #53565A;
    --card-text-color-tertiary: #888B8D;
  }
  
  /* -------- widget animation -------- */
  .search-form.widget {
    transition: transform 0.6s ease;
  }
  
  .search-form.widget:hover {
    transform: scale(1.1, 1.1);
  }

  .widget.archives {
    transition: .6s ease;
  }
  
  .widget.archives:hover {
    transform: scale(1.03, 1.03);
  }

  .tagCloud .tagCloud-tags a {
    border-radius: 10px;
    font-size: 1.4rem;
    transition: transform .3s ease;
  }
  
  .tagCloud .tagCloud-tags a:hover {
    transform: scale(1.1, 1.1);
  }

  /* -------- achives animation -------- */
  .article-list--tile article {
    transition: .6s ease;
  }
  
  .article-list--tile article:hover {
    transform: scale(1.03, 1.03);
  }

  /* -------- link 3 columns -------- */
  @media (min-width: 1024px) {
    .article-list--compact.links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: none;
      box-shadow: none;
      gap: 1rem;
  
      article {
        background: var(--card-background);
        border: none;
        box-shadow: var(--shadow-l2);
        margin-bottom: 8px;
        border-radius: var(--card-border-radius);
  
        &:nth-child(odd) {
          margin-right: 8px;
        }
      }
    }
  }

  /* -------- article image height -------- */
  .article-list article .article-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  
    @include respond(md) {
      height: 200px;
    }
  
    @include respond(xl) {
      height: 305px;
    }
  }

  /* -------- logo rotate -------- */
  .sidebar header .site-avatar .site-logo {
    transition: transform 1.65s ease-in-out; // 旋转时间
  }
  
  .sidebar header .site-avatar .site-logo:hover {
    transform: rotate(360deg); // 旋转角度为360度
  }
