{{ define "main" }}

<div class="category">
    <button class="filter" data-category="movies">电影</button>
    <button class="filter" data-category="books">书籍</button>
    <button class="filter" data-category="music">音乐</button>
    <button class="filter" data-category="games">游戏</button>
    <button class="filter" data-category="photos">相册</button>
    <button class="filter" data-category="others">其他</button>
</div>

<div class="content">
    {{ $data := "" }}
    {{ $path := "favor.json" }}
    {{ with .Resources.Get $path }}
        {{ $opt := dict "delimiter" "," }}
        {{ $data = . | transform.Unmarshal $opt }}
        {{ range $key, $value := $data }}
            <div class= "{{ $key }}">
            {{ range $index, $item := $value }}
                <div class="item" item_index="{{ $index }}">
                    <a href="{{ $item.link }}" target="_blank">
                        <img src="{{ $item.image }}" alt="{{ $item.title }}">
                        <div class="caption">{{ $item.caption }}</div>
                        <div class="score">{{ $item.score }}</div>
                    </a>
                </div>
            {{ end }}
            </div>
        {{ end }}
    {{ end }}
</div>

{{ end }}

