/* copy button for code blocks */
.copy-btn {
  display: none;
  position: relative;
  top: 5px;
  right: 5px;
  padding: 0px 10px;
  background-color: #61a1be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
}

pre:hover .copy-btn {
  display: block;
}

.copy-btn:hover {
  opacity: 1;
}

/* navbar glass effect */
.navbar.glass {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
